BlogPost.xsd

<xsd:schema xmlns="uuid:f2a713f9-6af0-470c-9542-14e52cebb5b9" xmlns:tcmi="http://www.tridion.com/ContentManager/5.0/Instance" xmlns:category="tcm:0-46-1/Categories.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="uuid:f2a713f9-6af0-470c-9542-14e52cebb5b9">
	<xsd:import namespace="http://www.tridion.com/ContentManager/5.0/Instance"></xsd:import>
	<xsd:import namespace="tcm:0-46-1/Categories.xsd"></xsd:import>
	<xsd:annotation>
		<xsd:appinfo>
			<tcm:Labels xmlns:tcm="http://www.tridion.com/ContentManager/5.0">
				<tcm:Label ElementName="title" Metadata="false">Post Title</tcm:Label>
				<tcm:Label ElementName="bodytext" Metadata="false">Post Body</tcm:Label>
				<tcm:Label ElementName="author" Metadata="false">About the Author</tcm:Label>
				<tcm:Label ElementName="categories" Metadata="false">Post Categories</tcm:Label>
				<tcm:Label ElementName="tags" Metadata="false">Post Tags</tcm:Label>
				<tcm:Label ElementName="blogpostid" Metadata="true">Id of this post on Wordpress (Do not modify. It is used to unpublish this post!)</tcm:Label>
			</tcm:Labels>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="Content">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" minOccurs="1" maxOccurs="1" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:appinfo>
							<tcm:ExtensionXml xmlns:tcm="http://www.tridion.com/ContentManager/5.0"></tcm:ExtensionXml>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="bodytext" minOccurs="1" maxOccurs="1" type="tcmi:XHTML">
					<xsd:annotation>
						<xsd:appinfo>
							<tcm:ExtensionXml xmlns:tcm="http://www.tridion.com/ContentManager/5.0"></tcm:ExtensionXml>
							<tcm:Size xmlns:tcm="http://www.tridion.com/ContentManager/5.0">20</tcm:Size>
							<tcm:FilterXSLT xmlns:tcm="http://www.tridion.com/ContentManager/5.0">
								<stylesheet xmlns="http://www.w3.org/1999/XSL/Transform" version="1.0">
									<output omit-xml-declaration="yes" method="xml" cdata-section-elements="script"></output>
									<template name="FormattingFeatures">
										<FormattingFeatures xmlns="http://www.tridion.com/ContentManager/5.2/FormatArea" xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
											<Doctype>Strict</Doctype>
											<AccessibilityLevel>0</AccessibilityLevel>
											<DisallowedActions>
												<Underline></Underline>
												<Strikethrough></Strikethrough>
												<Subscript></Subscript>
												<Superscript></Superscript>
												<AlignLeft></AlignLeft>
												<Center></Center>
												<AlignRight></AlignRight>
												<Font></Font>
												<Background></Background>
												<TableHeight></TableHeight>
												<TableHAlign></TableHAlign>
												<TableBackground></TableBackground>
												<TableCellWidth></TableCellWidth>
												<TableCellHeight></TableCellHeight>
												<TableCellBackground></TableCellBackground>
											</DisallowedActions>
											<DisallowedStyles></DisallowedStyles>
										</FormattingFeatures>
									</template>
									<template match="/ | node() | @*">
										<copy>
											<apply-templates select="node() | @*"></apply-templates>
										</copy>
									</template>
									<template match="*[      (self::br or self::p or self::div)     and      normalize-space(translate(., &apos; &apos;, &apos;&apos;)) = &apos;&apos;     and      not(@*)     and      not(processing-instruction())     and      not(comment())     and      not(*[not(self::br) or @* or * or node()])     and      not(following::node()[not(         (self::text() or self::br or self::p or self::div)        and         normalize-space(translate(., &apos; &apos;, &apos;&apos;)) = &apos;&apos;        and         not(@*)        and         not(processing-instruction())        and         not(comment())        and         not(*[not(self::br) or @* or * or node()])       )])     ]">
										<!-- ignore all paragraphs and line-breaks at the end that have nothing but (non-breaking) spaces and line breaks -->
									</template>
									<template match="br[parent::div and not(preceding-sibling::node()) and not(following-sibling::node())]">
										<!-- Chrome generates <div><br/></div>. Renders differently in different browsers. Replace it with a non-breaking space -->
										<text> </text>
									</template>
								</stylesheet>
							</tcm:FilterXSLT>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="author" minOccurs="1" maxOccurs="1" type="tcmi:SimpleLink">
					<xsd:annotation>
						<xsd:appinfo>
							<tcm:ExtensionXml xmlns:tcm="http://www.tridion.com/ContentManager/5.0"></tcm:ExtensionXml>
							<tcm:linktype xmlns:tcm="http://www.tridion.com/ContentManager/5.0">ComponentLink</tcm:linktype>
							<tcm:AllowMultimediaLinks xmlns:tcm="http://www.tridion.com/ContentManager/5.0">false</tcm:AllowMultimediaLinks>
							<tcm:AllowedTargetSchemas xmlns:tcm="http://www.tridion.com/ContentManager/5.0">
								<tcm:TargetSchema xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="tcm:46-6015-8"></tcm:TargetSchema>
							</tcm:AllowedTargetSchemas>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="category:WordPressCategories">
					<xsd:annotation>
						<xsd:appinfo>
							<tcm:ExtensionXml xmlns:tcm="http://www.tridion.com/ContentManager/5.0"></tcm:ExtensionXml>
							<tcm:Size xmlns:tcm="http://www.tridion.com/ContentManager/5.0">5</tcm:Size>
							<tcm:listtype xmlns:tcm="http://www.tridion.com/ContentManager/5.0">select</tcm:listtype>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="tags" minOccurs="0" maxOccurs="unbounded" type="category:WordPressTags">
					<xsd:annotation>
						<xsd:appinfo>
							<tcm:ExtensionXml xmlns:tcm="http://www.tridion.com/ContentManager/5.0"></tcm:ExtensionXml>
							<tcm:Size xmlns:tcm="http://www.tridion.com/ContentManager/5.0">5</tcm:Size>
							<tcm:listtype xmlns:tcm="http://www.tridion.com/ContentManager/5.0">select</tcm:listtype>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="blogpostid" minOccurs="0" maxOccurs="1" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:appinfo>
							<tcm:ExtensionXml xmlns:tcm="http://www.tridion.com/ContentManager/5.0"></tcm:ExtensionXml>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>